n8n/workflows/workflow_monitoreo_reservas.json
{
  "name": "Monitoreo de Reservas - Detecci칩n de PDFs",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Cada 1 Minuto",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "format": "simple",
        "filters": {
          "customEmailConfig": "seen:false"
        },
        "options": {
          "attachmentsPrefix": "attachment_",
          "downloadAttachments": true
        }
      },
      "id": "email-imap",
      "name": "Leer Correos IMAP",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [450, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "1",
          "name": "Gmail IMAP OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.attachments.length }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "filter-attachments",
      "name": "Tiene Adjuntos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": []
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "split-attachments",
      "name": "Dividir Adjuntos",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.attachment.mimeType }}",
              "operation": "equals",
              "value2": "application/pdf"
            }
          ]
        }
      },
      "id": "filter-pdf",
      "name": "Es PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "operation": "extractText",
        "binaryPropertyName": "attachment",
        "options": {}
      },
      "id": "extract-pdf-text",
      "name": "Extraer Texto de PDF",
      "type": "n8n-nodes-base.pdf",
      "typeVersion": 1,
      "position": [1250, 100]
    },
    {
      "parameters": {
        "jsCode": "// Extraer datos del PDF usando regex\nconst text = $input.item.json.text || '';\n\nfunction extractField(pattern, text, defaultValue = '') {\n  const match = text.match(pattern);\n  return match ? match[1].trim() : defaultValue;\n}\n\nfunction extractDate(pattern, text) {\n  const match = text.match(pattern);\n  if (!match) return null;\n  // Convertir formato DD/MM/YYYY a ISO\n  const parts = match[1].split('/');\n  if (parts.length === 3) {\n    return `${parts[2]}-${parts[1]}-${parts[0]}`;\n  }\n  return match[1];\n}\n\nconst data = {\n  // Identificadores\n  id_reserva: extractField(/ID:\\s*(\\d+)/i, text),\n  loc_interno: extractField(/LOC\\s+Interno:\\s*([A-Z0-9]+)/i, text),\n  localizador: extractField(/Localizador:\\s*([A-Z0-9]+)/i, text),\n  \n  // Agencia\n  agencia: extractField(/Agencia:\\s*([^\\n]+)/i, text),\n  \n  // Hotel\n  nombre_hotel: extractField(/Hotel:\\s*([^\\n]+)/i, text),\n  direccion_hotel: extractField(/Direcci[o칩]n:\\s*([^\\n]+)/i, text),\n  telefono_hotel: extractField(/Tel[e칠]fono:\\s*([^\\n]+)/i, text),\n  \n  // Fechas\n  fecha_checkin: extractDate(/Check-?in:\\s*(\\d{1,2}\\/\\d{1,2}\\/\\d{4})/i, text),\n  fecha_checkout: extractDate(/Check-?out:\\s*(\\d{1,2}\\/\\d{1,2}\\/\\d{4})/i, text),\n  hora_llegada: extractField(/Hora\\s+llegada:\\s*([^\\n]+)/i, text),\n  hora_salida: extractField(/Hora\\s+salida:\\s*([^\\n]+)/i, text),\n  \n  // Detalles\n  numero_noches: parseInt(extractField(/Noches:\\s*(\\d+)/i, text, '0')),\n  numero_habitaciones: parseInt(extractField(/Habitaciones:\\s*(\\d+)/i, text, '0')),\n  \n  // Montos\n  monto_total: parseFloat(extractField(/Total:\\s*\\$?([\\d.,]+)/i, text, '0').replace(',', '')),\n  moneda: extractField(/Moneda:\\s*([A-Z]{3})/i, text, 'CLP'),\n  \n  // Metadata\n  fecha_emision: new Date().toISOString(),\n  email_from: $input.item.json.from || '',\n  email_subject: $input.item.json.subject || '',\n  email_date: $input.item.json.date || '',\n  pdf_filename: $input.item.json.attachment?.fileName || 'unknown.pdf',\n  \n  // Estado\n  estado: 'PENDIENTE',\n  requiere_oc: false  // Se determina en el siguiente nodo\n};\n\n// Validar datos m칤nimos requeridos\nconst isValid = data.id_reserva && data.loc_interno && data.agencia && data.nombre_hotel;\n\nreturn {\n  json: {\n    ...data,\n    valido: isValid,\n    texto_completo: text.substring(0, 500)  // Guardar primeros 500 chars para debug\n  }\n};"
      },
      "id": "parse-pdf-data",
      "name": "Parsear Datos del PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 100]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valido }}",
              "value2": true
            }
          ]
        }
      },
      "id": "validate-data",
      "name": "Datos V치lidos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1650, 100]
    },
    {
      "parameters": {
        "jsCode": "// Lista de agencias que requieren OC\nconst agenciasConOC = [\n  'CODELCO',\n  'ENAP',\n  'BANCO DE CHILE',\n  'BANCO ESTADO',\n  'FALABELLA',\n  'RIPLEY',\n  'CENCOSUD',\n  'COPEC',\n  'CMPC',\n  'SQM'\n];\n\nconst agencia = ($input.item.json.agencia || '').toUpperCase();\n\n// Verificar si la agencia requiere OC\nconst requiereOC = agenciasConOC.some(a => agencia.includes(a));\n\nreturn {\n  json: {\n    ...$input.item.json,\n    requiere_oc: requiereOC,\n    estado_oc: requiereOC ? 'PENDIENTE' : null\n  }\n};"
      },
      "id": "check-oc-requirement",
      "name": "Verificar si Requiere OC",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 50]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO reservas (\n  id_reserva, loc_interno, localizador, agencia,\n  nombre_hotel, direccion_hotel, telefono_hotel,\n  fecha_checkin, fecha_checkout, hora_llegada, hora_salida,\n  numero_noches, numero_habitaciones,\n  monto_total, moneda,\n  fecha_emision, requiere_oc, estado_oc,\n  email_origen_id, email_origen_fecha, pdf_filename\n) VALUES (\n  '{{ $json.id_reserva }}',\n  '{{ $json.loc_interno }}',\n  '{{ $json.localizador }}',\n  '{{ $json.agencia }}',\n  '{{ $json.nombre_hotel }}',\n  '{{ $json.direccion_hotel }}',\n  '{{ $json.telefono_hotel }}',\n  '{{ $json.fecha_checkin }}',\n  '{{ $json.fecha_checkout }}',\n  '{{ $json.hora_llegada }}',\n  '{{ $json.hora_salida }}',\n  {{ $json.numero_noches }},\n  {{ $json.numero_habitaciones }},\n  {{ $json.monto_total }},\n  '{{ $json.moneda }}',\n  '{{ $json.fecha_emision }}',\n  {{ $json.requiere_oc }},\n  '{{ $json.estado_oc }}',\n  '{{ $json.email_from }}',\n  '{{ $json.email_date }}',\n  '{{ $json.pdf_filename }}'\n)\nON CONFLICT (id_reserva) DO NOTHING\nRETURNING id;",
        "options": {}
      },
      "id": "insert-db",
      "name": "Guardar en DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2050, 50],
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "PostgreSQL Reservas"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.requiere_oc }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-send-email",
      "name": "Requiere OC?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2250, 50]
    },
    {
      "parameters": {
        "functionCode": "// Construir el correo HTML de solicitud de OC\nconst reserva = $input.item.json;\n\nconst html = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 30px; text-align: center; }\n    .content { background: #f9f9f9; padding: 30px; }\n    .info-box { background: white; border-left: 4px solid #667eea; padding: 15px; margin: 20px 0; }\n    .info-row { display: flex; padding: 8px 0; border-bottom: 1px solid #eee; }\n    .info-label { font-weight: bold; width: 180px; color: #666; }\n    .info-value { flex: 1; color: #333; }\n    .warning { background: #fff3cd; border-left: 4px solid #ffc107; padding: 15px; margin: 20px 0; }\n    .footer { text-align: center; padding: 20px; color: #666; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>游늶 Solicitud de Orden de Compra</h1>\n      <p>Reserva Confirmada - Se Requiere OC</p>\n    </div>\n    \n    <div class=\"content\">\n      <p>Estimado/a,</p>\n      \n      <p>Hemos recibido y confirmado su reserva hotelera. Para proceder con el servicio, necesitamos que nos env칤e la <strong>Orden de Compra (OC)</strong> correspondiente.</p>\n      \n      <div class=\"info-box\">\n        <h3>游늷 Detalles de la Reserva</h3>\n        <div class=\"info-row\">\n          <div class=\"info-label\">ID Reserva:</div>\n          <div class=\"info-value\">${reserva.id_reserva}</div>\n        </div>\n        <div class=\"info-row\">\n          <div class=\"info-label\">LOC Interno:</div>\n          <div class=\"info-value\">${reserva.loc_interno}</div>\n        </div>\n        <div class=\"info-row\">\n          <div class=\"info-label\">Agencia:</div>\n          <div class=\"info-value\">${reserva.agencia}</div>\n        </div>\n        <div class=\"info-row\">\n          <div class=\"info-label\">Hotel:</div>\n          <div class=\"info-value\">${reserva.nombre_hotel}</div>\n        </div>\n        <div class=\"info-row\">\n          <div class=\"info-label\">Check-in:</div>\n          <div class=\"info-value\">${reserva.fecha_checkin}</div>\n        </div>\n        <div class=\"info-row\">\n          <div class=\"info-label\">Check-out:</div>\n          <div class=\"info-value\">${reserva.fecha_checkout}</div>\n        </div>\n        <div class=\"info-row\">\n          <div class=\"info-label\">Noches:</div>\n          <div class=\"info-value\">${reserva.numero_noches}</div>\n        </div>\n        <div class=\"info-row\">\n          <div class=\"info-label\">Monto Total:</div>\n          <div class=\"info-value\">$${reserva.monto_total.toLocaleString()} ${reserva.moneda}</div>\n        </div>\n      </div>\n      \n      <div class=\"warning\">\n        <strong>丘멆잺 Importante:</strong> Por favor env칤e la OC a la brevedad respondiendo a este correo o envi치ndola a <strong>oc@kontroltravel.com</strong>\n      </div>\n      \n      <p>La OC debe incluir:</p>\n      <ul>\n        <li>N칰mero de OC</li>\n        <li>ID de Reserva: <strong>${reserva.id_reserva}</strong></li>\n        <li>LOC Interno: <strong>${reserva.loc_interno}</strong></li>\n        <li>Monto autorizado</li>\n      </ul>\n      \n      <p>Quedamos atentos.</p>\n      \n      <p>Saludos cordiales,<br>\n      <strong>Equipo Kontrol Travel</strong></p>\n    </div>\n    \n    <div class=\"footer\">\n      <p>Este es un correo autom치tico del Sistema de Seguimiento de OC</p>\n      <p>Kontrol Travel - Ideas Fractal</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    ...reserva,\n    email_html: html,\n    email_subject: `Solicitud OC - Reserva ${reserva.id_reserva} - ${reserva.agencia}`,\n    email_to: reserva.email_from  // Responder al remitente original\n  }\n};"
      },
      "id": "build-email",
      "name": "Construir Correo de Solicitud",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 50]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "sendTo": "={{ $json.email_to }}",
        "subject": "={{ $json.email_subject }}",
        "emailType": "html",
        "message": "={{ $json.email_html }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Enviar Correo OC",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2650, 50],
      "credentials": {
        "gmailOAuth2": {
          "id": "3",
          "name": "Gmail SMTP OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO correos_enviados (\n  reserva_id,\n  tipo_correo,\n  destinatario,\n  asunto,\n  enviado_exitosamente,\n  fecha_envio\n) VALUES (\n  (SELECT id FROM reservas WHERE id_reserva = '{{ $json.id_reserva }}'),\n  'SOLICITUD_INICIAL',\n  '{{ $json.email_to }}',\n  '{{ $json.email_subject }}',\n  true,\n  NOW()\n);",
        "options": {}
      },
      "id": "log-email",
      "name": "Registrar Env칤o",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2850, 50],
      "credentials": {
        "postgres": {
          "id": "2",
          "name": "PostgreSQL Reservas"
        }
      }
    }
  ],
  "connections": {
    "Cada 1 Minuto": {
      "main": [
        [
          {
            "node": "Leer Correos IMAP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Correos IMAP": {
      "main": [
        [
          {
            "node": "Tiene Adjuntos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tiene Adjuntos?": {
      "main": [
        [
          {
            "node": "Dividir Adjuntos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dividir Adjuntos": {
      "main": [
        [
          {
            "node": "Es PDF?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es PDF?": {
      "main": [
        [
          {
            "node": "Extraer Texto de PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Texto de PDF": {
      "main": [
        [
          {
            "node": "Parsear Datos del PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Datos del PDF": {
      "main": [
        [
          {
            "node": "Datos V치lidos?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Datos V치lidos?": {
      "main": [
        [
          {
            "node": "Verificar si Requiere OC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar si Requiere OC": {
      "main": [
        [
          {
            "node": "Guardar en DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en DB": {
      "main": [
        [
          {
            "node": "Requiere OC?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Requiere OC?": {
      "main": [
        [
          {
            "node": "Construir Correo de Solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Correo de Solicitud": {
      "main": [
        [
          {
            "node": "Enviar Correo OC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Correo OC": {
      "main": [
        [
          {
            "node": "Registrar Env칤o",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-13T00:00:00.000Z",
  "versionId": "1"
}
